.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game-area {
  width: 1400px;
  height: 600px;
  margin: auto;
  /* background-color: #001c24; */
  background-color: #763e3e;
    position: relative;
}
.player {
  position: absolute;
  transition: all .2s ease;
}
.nue {
  position: absolute;
  /* transition: all .4s ease; */
}
.player img{
  position: absolute;
  top: 0;
  left: 0;
}
.rival img {
  position: absolute;
  top: 0;
  left: 0;
}
.rival {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 40%;
  right: 20%;
  transition: all .2s ease;
  /* background-color: red; */
}
.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Arka planı hafifçe karart */
  z-index: 10;
  /* Menüyü diğer elementlerin üzerine getir */
}

.start-button {
  padding: 20px 40px;
  font-size: 24px;
  background-color: #4CAF50;
  /* Yeşil */
  color: white;
  border: none;
  cursor: pointer;
}

.small-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #008CBA;
  /* Mavi */
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.wolf {
  width: 145px;
  height: 120px;
  background-image: url('./Assets/black-wolf.png');
  /* Sprite sheet kullanımı */
  /* animation: wolfRun 1s steps(5) infinite; */
  /* 8 kareli sprite sheet için */
}

@keyframes wolfRun {
  from {
    background-position: 0 350px;
  }

  to {
    background-position: 760px 350px;
  }

  /* 8 kare * 50px = 400px */
}