.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game-area {
  width: 1400px;
  height: 600px;
  margin: auto;
  /* background-color: #001c24; */
  background-color: #763e3e;
    position: relative;
}
.megumi {
  position: absolute;
  transition: all .2s ease;
}
.blue {
  position: absolute;
  transition: all .2s ease, transform 4s, top 0s ease, left 0s ease;
  width: 150px;
  height: 150px;
  z-index: 9;
}
.blue img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  z-index: 9;
}
.red {
  position: absolute;
  transition: all .2s ease, transform 4s, top 0s ease, left 0s ease;
  width: 150px;
  height: 150px;
  z-index: 9;
}
.red img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  z-index: 9;
}
.purple {
  position: absolute;
  transition: all .2s ease, transform 4s, top 0s ease, left 2s ease-in;
  width: 200px;
  height: 200px;
  z-index: 9;
}
.purple img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  z-index: 9;
  /* transition: transform 1s ease-in, top 4s linear; */
    transition: transform .1s ease-in,
    top 1s linear;

}
.nue {
  position: absolute;
  /* transition: all .4s ease; */
}
.megumi img{
  position: absolute;
  top: 0;
  left: 0;
}
.gojo {
  position: absolute;
  transition: all .2s ease;
}
.gojo img {
  position: absolute;
  top: 0;
  left: 0;
}
.sukuna img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.sukuna {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 40%;
  right: 20%;
  transition: all .2s ease;
  /* background-color: red; */
}
.main-screen {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.finish-screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.finish-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url('./Assets/bg.jpg');
  background-size: cover;
  z-index: 10;
}
.finish-menu button:hover {
  background-color: transparent;
  border: solid 2px white;
}

.finish-menu button {
  border: solid 2px transparent;
  border-radius: 10px;
  margin-left: 50px;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url('./Assets/menu-bg.jpg');
  background-size: cover;
  z-index: 10;
}
.selected-character-image{
  height: 150px;
  margin-left: 80px;
}
.character-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url('./Assets/menu-bg.jpg');
  background-size: cover;
  z-index: 10;
}
.character-button {
  color: white;
  border: none;
  background-color: transparent;
  width: 250px;
  height: auto;
  cursor:  pointer;
}
.character-button img{
  max-height: 300px;
}
.main-menu button {
  border: solid 2px transparent;
  border-radius: 10px;
  margin-left: 50px ;
}

.main-menu button:hover {
  background-color: transparent;
  border: solid 2px white;
}

.start-button {
  padding: 20px 40px;
  font-size: 24px;
  background-color: #4CAF50;
  /* Yeşil */
  color: white;
  border: none;
  cursor: pointer;
}

.small-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #008CBA;
  /* Mavi */
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.wolf {
  width: 145px;
  height: 120px;
  background-image: url('./Assets/black-wolf.png');
  /* Sprite sheet kullanımı */
  /* animation: wolfRun 1s steps(5) infinite; */
  /* 8 kareli sprite sheet için */
}
.wolf2 {
  width: 145px;
  height: 85px;
  background-image: url('./Assets/white-wolf.png');
  background-size: cover;
  /* Sprite sheet kullanımı */
  /* animation: wolfRun 1s steps(5) infinite; */
  /* 8 kareli sprite sheet için */
}
@keyframes wolfRun {
  from {
    background-position: 0 350px;
  }

  to {
    background-position: 760px 350px;
  }

  /* 8 kare * 50px = 400px */
}
.controls {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.controls p {
  margin: 0 0 10px 0;
  padding: 10px ;
}

.player-interface {
  position: relative;
  left: 2%;
  top: 85%;
  z-index: 1;
  width: 700px;
  height: 100px;
  display: flex;
}
.health-and-ce-bars{
  width: 250px;
  height: 35px;
}
.skills-container {
 display: flex;
 margin-left: 50px;
}
.skill {
  /* background-color: red; */
  position: relative;
  width: 50px;
  max-height: 50px;
  margin: 0 20px 10px 10px;
}

.skill p {
  font-size: 9px;
  width: 55px;
}
/* continue here */


.skill img {
  width: 50px;
  max-height: 50px;
  top: 0;
  left: 0;
  position: absolute;
}
.circular-skill-progress-bar {
  position: absolute !important ;
  top:0;
  left:0;
  width: 50px;
  height: 50px;
}

