body {
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}
.megumi-container {
    /* width: 65px;
    height: 62px;
    border: 1px solid white;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-image: url('./Assets/megu.png'); */
    /* animation: stance 1s steps(3) infinite; */
    /* animation: move .5s steps(7) infinite; */
    /* animation: jump 2s steps(11) infinite; */
    /* animation: punch .9s steps(8) infinite; */
}

@keyframes stance {
    /* 43x64 */
    0% {
        background-position: -14px -80px;
    }
    100% {
        background-position: -142px -80px;
    }
}
@keyframes move {
    /* 58x54 */
    0% {
        background-position: -6px -200px;
    }

    100% {
        background-position: -415px -200px;
    }
}
@keyframes jump {

    /* 49x57 */
    0% {
        background-position: -6px -357px;
    }

    100% {
        background-position: -544px -357px;
    }
}
@keyframes punch {
    /* 65x62 */
    0% {
        background-position: -7px -733px;
    }

    100% {
        background-position: -528px -733px;
    }
}
