.sukuna-container{
    position: absolute;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
}
.sukunaCC {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    padding: 5px;
    background: url(./Assets/sukuna-sprite.png);
    /* animation: walk-sukuna steps(1) 1s infinite; */
    scale: 1;
}
.cleave {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background: url(./Assets/sukuna-sprite.png);
    animation: walk-sukuna steps(1) 1s infinite;
    scale: 1;
}
.divineDogBlack {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    padding: 5px;
    background: url(./Assets/sukuna-sprite.png);
    /* animation: walk-sukuna steps(1) 1s infinite; */
    scale: 2;
}
@keyframes entry-sukuna {
    0% {
        background-position: -74px -277px;
        width: 136px;
        height: 30px;
    }

    10% {
        background-position: -240px -264px;
        width: 33px;
        height: 52px;
    }

    20% {
        background-position: -240px -264px;
        width: 33px;
        height: 52px;
    }

    30% {
        background-position: -240px -264px;
        width: 33px;
        height: 52px;
    }

    40% {
        background-position: -463px -269px;
        width: 83px;
        height: 51px;
    }

    50% {
        background-position: -560px -268px;
        width: 85px;
        height: 55px;
    }

    60% {
        background-position: -652px -269px;
        width: 83px;
        height: 58px;
    }

    70% {
        background-position: -744px -274px;
        width: 98px;
        height: 55px;
    }

    80% {
        background-position: -854px -279px;
        width: 98px;
        height: 55px;
    }

    90% {
        background-position: -965px -280px;
        width: 73px;
        height: 55px;
    }
}
@keyframes stance-sukuna {
    0% {
        background-position: -497px -190px;
        width: 22px;
        height: 52px;
    }

    16.6% {
        background-position: -548px -192px;
        width: 22px;
        height: 52px;
    }

    33.3% {
        background-position: -597px -196px;
        width: 22px;
        height: 52px;
    }

    50% {
        background-position: -646px -197px;
        width: 22px;
        height: 52px;
    }

    66.6% {
        background-position: -707px -194px;
        width: 22px;
        height: 52px;
    }

    83.3% {
        background-position: -746px -197px;
        width: 22px;
        height: 52px;
    }
}
@keyframes walk-sukuna {
    0% {
        background-position: -245px -367px;
        width: 20px;
        height: 51px;
    }

    25% {
        background-position: -280px -366px;
        width: 21px;
        height: 52px;
    }

    50% {
        background-position: -245px -367px;
        width: 20px;
        height: 51px;
    }

    75% {
        background-position: -210px -367px;
        width: 21px;
        height: 51px;
    }
}
@keyframes cleave {
    0% {
        background-position: -871px -1681px;
        width: 60px;
        height: 79px;
    }

    20% {
        background-position: -977px -1683px;
        width: 64px;
        height: 97px;
    }

    40% {
        background-position: -1071px -1689px;
        width: 99px;
        height: 101px;
    }

    60% {
        background-position: -1201px -1691px;
        width: 106px;
        height: 99px;
    }

    80% {
        background-position: -1357px -1702px;
        width: 79px;
        height: 93px;
    }
}