.sukuna-container{
    position: absolute;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
}
.sukunaCC {
    position: absolute;
    z-index: 99;
    background: url(./Assets/sukuna-sprite.png);
    /* animation: walk-sukuna steps(1) 1s infinite; */
    scale: 1;
    transition: all .2s ease, transform 0s;
}
.cleave {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background: url(./Assets/sukuna-sprite.png);
    scale: 1;
}
/* .divineDogBlack {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    padding: 5px;
    background: url(./Assets/sukuna-sprite.png);
    /* animation: walk-sukuna steps(1) 1s infinite; */
    /* scale: 2; 
} */
@keyframes entry-sukuna {
    0% {
        background-position: -74px -277px;
        width: 136px;
        height: 30px;
    }

    10% {
        background-position: -240px -264px;
        width: 33px;
        height: 52px;
    }

    20% {
        background-position: -240px -264px;
        width: 33px;
        height: 52px;
    }

    30% {
        background-position: -240px -264px;
        width: 33px;
        height: 52px;
    }

    40% {
        background-position: -463px -269px;
        width: 83px;
        height: 51px;
    }

    50% {
        background-position: -560px -268px;
        width: 85px;
        height: 55px;
    }

    60% {
        background-position: -652px -269px;
        width: 83px;
        height: 58px;
    }

    70% {
        background-position: -744px -274px;
        width: 98px;
        height: 55px;
    }

    80% {
        background-position: -854px -279px;
        width: 98px;
        height: 55px;
    }

    90% {
        background-position: -965px -280px;
        width: 73px;
        height: 55px;
    }
}
@keyframes stance-sukuna {
    0% {
        background-position: -497px -190px;
        width: 22px;
        height: 52px;
    }

    16.6% {
        background-position: -548px -192px;
        width: 22px;
        height: 52px;
    }

    33.3% {
        background-position: -597px -196px;
        width: 22px;
        height: 52px;
    }

    50% {
        background-position: -646px -197px;
        width: 22px;
        height: 52px;
    }

    /* 66.6% {
        background-position: -707px -194px;
        width: 22px;
        height: 52px;
    }

    83.3% {
        background-position: -746px -197px;
        width: 22px;
        height: 52px;
    } */
}
@keyframes walk-sukuna {
    0% {
        background-position: -245px -367px;
        width: 20px;
        height: 51px;
    }

    25% {
        background-position: -280px -366px;
        width: 21px;
        height: 52px;
    }

    50% {
        background-position: -245px -367px;
        width: 20px;
        height: 51px;
    }

    75% {
        background-position: -210px -367px;
        width: 21px;
        height: 51px;
    }
}
@keyframes jump-sukuna {
    0% {
        background-position: -618px -384px;
        width: 34px;
        height: 38px;
    }

    25% {
        background-position: -666px -359px;
        width: 25px;
        height: 46px;
    }

    50% {
        background-position: -723px -366px;
        width: 27px;
        height: 42px;
    }

    80% {
        background-position: -764px -399px;
        width: 40px;
        height: 34px;
    }
}
@keyframes backflip-sukuna {
    0% {
        background-position: -95px -999px;
        width: 28px;
        height: 30px;
    }

    12.5% {
        background-position: -144px -998px;
        width: 58px;
        height: 41px;
    }

    25% {
        background-position: -234px -990px;
        width: 33px;
        height: 52px;
    }

    37.5% {
        background-position: -303px -982px;
        width: 42px;
        height: 64px;
    }

    50% {
        background-position: -365px -998px;
        width: 31px;
        height: 48px;
    }

    62.5% {
        background-position: -424px -995px;
        width: 44px;
        height: 38px;
    }

    75% {
        background-position: -490px -1005px;
        width: 49px;
        height: 31px;
    }

    87.5% {
        background-position: -561px -1001px;
        width: 34px;
        height: 38px;
    }
}
@keyframes dash-sukuna {
    0% {
        background-position: -749px -1036px;
        width: 43px;
        height: 36px;
    }

    50% {
        background-position: -797px -1040px;
        width: 43px;
        height: 36px;
    }

    100% {
        background-position: -749px -1036px;
        width: 43px;
        height: 36px;
    }
}
@keyframes sukuna-cleave-right {
    0% {
        background-position: -744px -1687px;
        width: 21px;
        height: 51px;
    }

    25% {
        background-position: -783px -1691px;
        width: 25px;
        height: 51px;
    }

    35% {
        background-position: -828px -1693px;
        width: 36px;
        height: 51px;
    }
}
@keyframes sukuna-cleave-left {
    0% {
        background-position: -744px -1687px;
        width: 21px;
        height: 51px;
        translate: -3px;
    }

    25% {
        background-position: -783px -1691px;
        width: 25px;
        height: 51px;
        translate: -7px;
    }

    35% {
        background-position: -828px -1693px;
        width: 36px;
        height: 51px;
        translate: -17px;
    }
}
@keyframes sukuna-rapid-right {
    0% {
        background-position: -744px -1687px;
        width: 21px;
        height: 51px;
    }

    5% {
        background-position: -783px -1691px;
        width: 25px;
        height: 51px;
    }

    10% {
        background-position: -828px -1693px;
        width: 36px;
        height: 51px;
    }
}

@keyframes sukuna-rapid-left {
    0% {
        background-position: -744px -1687px;
        width: 21px;
        height: 51px;
        translate: -3px;
    }

    5% {
        background-position: -783px -1691px;
        width: 25px;
        height: 51px;
        translate: -7px;
    }

    10% {
        background-position: -828px -1693px;
        width: 36px;
        height: 51px;
        translate: -17px;
    }
}
@keyframes sukuna-dismantle-right {
    0% {
        background-position: -83px -469px;
        width: 21px;
        height: 51px;
    }

    15% {
        background-position: -133px -471px;
        width: 23px;
        height: 51px;
    }

    30% {
        background-position: -184px -472px;
        width: 33px;
        height: 51px;
    }

    45% {
        background-position: -232px -473px;
        width: 37px;
        height: 51px;
    }

    60% {
        background-position: -281px -476px;
        width: 30px;
        height: 51px;
    }

    75% {
        background-position: -83px -469px;
        width: 21px;
        height: 51px;
    }
}
@keyframes sukuna-dismantle-left {
    0% {
        background-position: -83px -469px;
        width: 21px;
        height: 51px;
    }

    15% {
        background-position: -133px -471px;
        width: 23px;
        height: 51px;
        translate: -2px;
    }

    30% {
        background-position: -184px -472px;
        width: 33px;
        height: 51px;
        translate: -12px;
    }

    45% {
        background-position: -232px -473px;
        width: 37px;
        height: 51px;
        translate: -16px;
    }

    60% {
        background-position: -281px -476px;
        width: 30px;
        height: 51px;
        translate: -9px;
    }

    75% {
        background-position: -83px -469px;
        width: 21px;
        height: 51px;
        translate: 0px;
    }
}
@keyframes cleave {
    0% {
        background-position: -871px -1681px;
        width: 60px;
        height: 79px;
    }

    20% {
        background-position: -977px -1683px;
        width: 64px;
        height: 97px;
    }

    40% {
        background-position: -1071px -1689px;
        width: 99px;
        height: 101px;
    }

    60% {
        background-position: -1201px -1691px;
        width: 106px;
        height: 99px;
    }

    80% {
        background-position: -1357px -1702px;
        width: 79px;
        height: 93px;
    }
}
.sukuna-bam-effect {
    position: absolute;
    width: 142px;
    height: 104px;
    background: url(./Assets/sukuna-sprite.png);
    display: none;
    /* animation: sukuna-bam-effect steps(1) 1s infinite; */
}
@keyframes sukuna-bam-effect {
    0% {
        background-position: -302px -1496px;
        width: 142px;
        height: 104px;
    }

    25% {
        background-position: -455px -1504px;
        width: 187px;
        height: 96px;
        translate: -25px
    }

    50% {
        background-position: -653px -1508px;
        width: 197px;
        height: 84px;
        translate: -30px
        
    }

    75% {
        background-position: -869px -1509px;
        width: 192px;
        height: 83px;
        translate: -25px
    }
}
@keyframes sukuna-bam {
    0% {
        background-position: -80px -1351px;
        width: 40px;
        height: 34px;
    }

    9% {
        background-position: -135px -1354px;
        width: 40px;
        height: 34px;
    }

    18% {
        background-position: -224px -1362px;
        width: 55px;
        height: 30px;
    }

    27% {
        background-position: -289px -1374px;
        width: 71px;
        height: 11px;
    }

    36% {
        background-position: -388px -1362px;
        width: 31px;
        height: 42px;
    }

    45% {
        background-position: -433px -1364px;
        width: 36px;
        height: 42px;
    }

    50% {
        background-position: -479px -1366px;
        width: 40px;
        height: 42px;
    }

    /* 63% {
        background-position: -546px -1356px;
        width: 112px;
        height: 80px;
    } */

    70% {
        background-position: -702px -1389px;
        width: 51px;
        height: 28px;
    }

    75% {
        background-position: -769px -1385px;
        width: 35px;
        height: 38px;
    }

    80% {
        background-position: -823px -1385px;
        width: 35px;
        height: 38px;
    }
}
